extends layout

block content
  h1= title
  p Welcome to #{title} Service
  a(href="https://github.com/sinantok/restful-api-node.js") Click on the github link to see routes --> github.com/sinantok/restful-api-node.js
  
